  // -- COLOR VARIABLE
  :root {
    --color-primary-green50: #00aa13;
    --color-primary-green70: #006c0c;
    --color-primary-green20: #4cc359;
    --color-primary-black: #000000;
    --color-primary-black100: #25282b;
    --color-primary-black80: #52575c;
    --color-primary-black40: #cacccf;
    --color-primary-black10: #e8e8e8;
    --color-primary-white100: #ffffff;
    --color-secondary-orange50: #f06400;
    --color-secondary-blue50: #00aed6;
    --color-secondary-purple50: #772583;
    --color-secondary-pink50: #df1995;
    --color-secondary-red50: #ee2737;
    --color-secondary-red70: #be1f2c;
  }
  
  // -- TYPOGRAPHY VARIABLE
  
  $font-base-size: 16px;
  $font-base-line-height: 1.5em !default;
  $font-scale: 1.414 !default;
  
  $font-paths: "/static/fonts/roboto/";
  $font-colection: (
    Black: "Roboto-Black",
    Bold: "Roboto-Bold",
    Regular: "Roboto-Regular",
    Light: "Roboto-Light",
    thin: "Roboto-Thin",
    medium: "Roboto-Medium"
  ) !default;
  
  $font-fm-base: "Roboto-Regular", Arial, sans-serir;
  $font-fm-bold: "Roboto-Bold", Arial, sans-serir;
  $font-fm-black: "Roboto-Black", Arial, sans-serir;
  $font-fm-medium: "Roboto-Medium", Arial, sans-serir;
  $font-fm-light: "Roboto-Light", Arial, sans-serir;
  $font-fm-thin: "Roboto-Thin", Arial, sans-serir;
  
  $paragraph-color: var(--base-color-black80);
  $paragraph-size: 16px;
  $paragraph-line-height: $font-base-line-height;
  $paragraph-margin: 16px;
  
  $header-color: var(--base-color-black80);
  $header-size: 36px;
  $header-line-height: 1.25em;
  $header-margin: $paragraph-margin * 1.2;
  