$icon-font-family: "gojekicon" !default;
$icon-font-path: "/static/fonts/icons/" !default;

$gi-icon-solid-gobills: "\e919";
$gi-icon-solid-gobiz: "\e91a";
$gi-icon-solid-gocar: "\e91b";
$gi-icon-solid-godeals: "\e91c";
$gi-icon-solid-gofood: "\e91d";
$gi-icon-solid-golaundry: "\e91e";
$gi-icon-solid-gopay: "\e91f";
$gi-icon-solid-goplay: "\e920";
$gi-icon-solid-gopoint: "\e921";
$gi-icon-solid-goride: "\e922";
$gi-icon-solid-gosend: "\e923";
$gi-icon-solid-gotix: "\e924";
$gi-icon-gobills: "\e904";
$gi-icon-gobiz: "\e905";
$gi-icon-gocar: "\e906";
$gi-icon-godeals: "\e907";
$gi-icon-gofood: "\e908";
$gi-icon-gojek: "\e909";
$gi-icon-golaundry: "\e90a";
$gi-icon-gopay: "\e90b";
$gi-icon-goplay: "\e90c";
$gi-icon-gopoints: "\e90d";
$gi-icon-goride: "\e90e";
$gi-icon-gosend: "\e90f";
$gi-icon-gotix: "\e910";
$gi-account: "\e93a";
$gi-code: "\e93b";
$gi-dashboard: "\e93c";
$gi-form: "\e93d";
$gi-hi: "\e93e";
$gi-logout: "\e93f";
$gi-user: "\e940";
$gi-arrow-upload: "\e938";
$gi-pdf: "\e939";
$gi-calendar: "\e911";
$gi-triangle-down: "\e936";
$gi-upload: "\e937";
$gi-tick: "\e933";
$gi-error: "\e934";
$gi-search: "\e935";
$gi-arrow-up: "\e928";
$gi-arrowbar-down: "\e929";
$gi-arrowbar-left: "\e92a";
$gi-arrowbar-right: "\e92b";
$gi-arrowbar-up: "\e92c";
$gi-caret-down: "\e92d";
$gi-caret-left: "\e92e";
$gi-caret-right: "\e92f";
$gi-caret-up: "\e930";
$gi-menu: "\e931";
$gi-retry: "\e932";
$gi-close: "\e927";
$gi-location: "\e926";
$gi-arrow: "\e925";
$gi-facebook: "\e912";
$gi-instagram: "\e913";
$gi-line: "\e914";
$gi-linkedin: "\e915";
$gi-twitter: "\e916";
$gi-web: "\e917";
$gi-youtube: "\e918";
$gi-arrow-left: "\e902";
$gi-arrow-right: "\e903";
$gi-globe: "\e900";
$gi-arrow-down: "\e901";